.root {
	display: block;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}

.pointSpread {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 500;
	font-size: 1.5em;
}

.submit {
	margin-left: 0.5em;
}

.error {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: block;
	width: 16em;
	text-align: center;
	background-color: pink;
	border-left: 2px solid maroon;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}

.submitting {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0.5em;
	display: block;
	width: 16em;
	text-align: center;
	background-color: cornflowerblue;
	border-left: 2px solid navy;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #bbb;
}
