.root {
	margin-left: auto;
	margin-right: auto;
	width: 16em;
}

h1 {
	margin-bottom: 0.25em;
	border-bottom: 1px solid #ccc;
}

.scores {
	background: #eee;
	padding: 0.5em 1em;
	box-shadow: 2px 2px 2px #333;
}

.row {
	display: block;
	margin-bottom: 0.5em;
}

.user {
	display: inline-block;
	width: 11em;
}

.score {
	display: inline-block;
	text-align: right;
	width: 3em;
}

.buttons {
	button {
		margin-right: 0.5em;
	}
}
