@import "../variables";

.button {
	border: 0;
	padding: 0.5em 1em;
	font-size: 1.5em;
	box-shadow: $box-shadow;
	color: white;
	border-radius: 4px;
}

.primary {
	background-color: $color-primary;
	color: white;
}

.danger {
	background-color: $color-danger;
}
