@import "../variables";

.root {
	background-color: white;
	border-radius: 1em;
	box-shadow: 2px 2px 2px #ccc;
	padding: 0.5em;
	margin-top: 1em;
}

.title {
	font-size: 1.5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.25em;
}

.link {
	cursor: pointer;
	color: $color-primary;
}
