.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
	overflow: hidden;

	li {
		float: left;
		a {
			display: block;
			color: #777;
			padding: 0.5em;
			font-family: Arial;
			font-weight: 800;
			font-variant: small-caps;
			font-size: 1.5em;
			text-align: center;
			text-decoration: none;

			&:hover {
				color: blue;
				cursor: pointer;
			}

			&.active {
				border-bottom: 2px solid blue;
			}
		}
	}
}

@media (max-width: 548px) {
	.small {
		display: normal;
	}
	.large {
		display: none;
	}
}

@media (min-width: 549px) {
	.small {
		display: none;
	}
	.large {
		display: normal;
	}
}
