@import "../variables";

.root {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
	background-color: #f8f8f8;
	box-shadow: $box-shadow;
	padding: 0.5em 1em;
	cursor: pointer;
}

.period {
	margin-right: auto;
}

.score {
	width: 3em;
	text-align: right;
	color: green;
}

.negative {
	color: maroon;
}

.rank {
	width: 3em;
	text-align: right;
}
