.root {
	margin-top: 1em;
	margin-bottom: 1em;
}

.row {
}

.period {
	font-weight: bold;
}

.count {
}

.none {
	font-style: italic;
	color: #999;
}

.score {
	text-align: right;
	color: green;
	&.negative {
		color: maroon;
	}
}

.rank {
	text-align: right;
}
