.root {
	margin-top: 1em;
	margin-bottom: 1em;
}

.row {
	display: flex;
	flex-direction: row;
}

.period {
	font-weight: bold;
	flex-grow: 1;
}

.count {
	flex-grow: 1;
}

.none {
	flex-grow: 3;
	font-style: italic;
	color: #999;
}

.score {
	flex-grow: 1;
	text-align: right;
	color: green;
	&.negative {
		color: maroon;
	}
}

.rank {
	flex-grow: 1;
	text-align: right;
}
