@import "../variables";

.root {
	background: #eee;
	padding: 0.5em 1em;
	box-shadow: $box-shadow;
}

.row {
	display: block;
	margin-bottom: 0.5em;
}

.player {
	display: inline-block;
	width: 11em;
}

.score {
	color: green;
	display: inline-block;
	text-align: right;
	width: 3em;
}

.negative {
	color: maroon;
}
