@import "../variables";

.root {
	background: #eee;
	padding: 0.5em 1em;
	box-shadow: $box-shadow;
	margin-left: auto;
	margin-right: auto;
	width: 16em;
}

.row {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.player {
	margin-right: auto;
}

.score {
	color: green;
}

.negative {
	color: maroon;
}
