@import "../variables";

.root {
	display: inline-block;
	margin: 0.5em;
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.button {
	width: 28px;
	height: 28px;
	margin: 0.25em;
	line-height: 28px;
	border-radius: 50%;
	background-color: #f8f8f8;
	border: none;
	box-shadow: $box-shadow;
	padding: 0;
	text-align: center;
	cursor: pointer;
	transition: background-color $timing-reactive linear;

	&:hover {
		background-color: white;
	}
}

.value {
	font-size: 1em;
	width: 2em;
	text-align: center;
}
