.root {
	width: 100%;
	height: 100px;
}

.axisX {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.area {
	fill-opacity: 0.6;
}

.areaBelow {
	fill: #de77ae;
}

.areaAbove {
	fill: #7fbc41;
}

.line {
	fill: none;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.lineAbove {
	stroke: #1f4228;
}

.lineBelow {
	stroke: #7c0f07;
}
