.root {
	background-color: #f8f8f8;
	margin: 0.5em;
	width: 8em;
	box-shadow: 2px 2px 2px #444;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.placeholder {
	color: #aaa;
	padding: 0.5em;
	&:hover {
		color: black;
		background-color: lightblue;
	}
}

.searchWrapper {
	display: block;
	overflow: hidden;
	padding: 0.5em;
}

.search {
	width: 100%;
	border: 0;
	border-bottom: 1px solid #333;
	background-color: #f8f8f8;

	&:focus {
		outline: none;
		border-bottom: 1px solid blue;
	}
}

.users {
	position: absolute;
	z-index: 1;
	background-color: #f8f8f8;
	box-shadow: 2px 2px 2px #333;
	width: 8em;
	top: 2em;
}

.user {
	padding: 0.5em;
	&:hover {
		background-color: lightblue;
	}
}

.selected {
	background-color: lightblue;
	text-decoration: underline;
}
